<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDRiuQ7l0UXvFYxe3yQgieEMXMC5B0SVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>237426452124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bayad</string>
	<key>PROJECT_ID</key>
	<string>bayad-66764</string>
	<key>STORAGE_BUCKET</key>
	<string>bayad-66764.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237426452124:ios:94e9e089a7a19e6ecf2f59</string>
</dict>
</plist>